body {
    background-color: black;
    color: aliceblue;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#app {
    display: grid;

    align-items: center;
    justify-items: center;

    grid-template-areas: ". title ."
    ". controls ."
    ". error ."
    ". question .";

    grid-template-columns: 1fr min(80%,700px) 1fr;
}

#title {
    grid-area: title;
}

#controls {
    display: grid;
    grid-area: controls;

    grid-template-areas: "prev . pagenum . next";
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}

#error {
    grid-area: error;

    color: red;
    size: 20px;
}

#prev {
    grid-area: prev;
}

#pagenum {
    grid-area: pagenum;
}

#next {
    grid-area: next;
}
#submit {
    grid-area: next;
}

#question {
    grid-area: question;
}

.button {
    border: 1px solid azure;
    padding: 5px;
}

.button:hover {
    background-color: #777777;
    cursor: pointer;
}

.selected {
    background-color: #555555;
}