<!doctype html>
<head>
<title>Anonymous Surveys</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url }}/static/main.css">
<style>
    body {
        text-align: center;
    }

    .surveys {
        display: grid;
        grid-template-columns: auto;

        justify-items: center;
    }

    .survey {
        width: 60%;
    }
</style>


<body>
    <h2>Anonymous Surveys</h2>

    <h3>Available Surveys</h3>
    <div class="surveys">
        {% if public|length == 0 %}
            <i>There are currently no public surveys...</i>
        {% endif %}
        
        {% for name, url_name in public %}
            <a class="survey" href="{{ url }}/{{ url_name }}">
                {{ name }}
            </a>
        {% endfor %}
    </div>
</body>