<!doctype html>
<head>
<title>Thanks {{ name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url }}/static/main.css">
<style>
    body {
        text-align: center;

        display: grid;
    }

    a {
        font-size: large;
        padding: 10px;
    }
</style>
</head>


<body>
    <h2>{{ schema['title'] }}</h2>
    {% if show_survey %}
    <a id="survey" href="{{ url }}/{{ name }}/survey">
        Complete the survey
        {% if survey_login %}
        [Log-in Required]
        {% endif %}
    </a>
    {% endif %}

    {% if show_results %}
    <a id="results" href="{{ url }}/{{ name }}/results">
        Check out the results
        {% if results_login %}
        [Log-in Required]
        {% endif %}
    </a>
    {% endif %}
</body>