<!doctype html>
<head>
<title>{{ name }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url }}/static/main.css">
<style>
  #app {
    display: grid;

    align-items: center;
    justify-items: center;

    grid-template-areas: ". title ."
    ". controls ."
    ". error ."
    ". question .";

    grid-template-columns: 1fr min(80%,700px) 1fr;
  }

  #title {
      grid-area: title;
  }

  #controls {
      display: grid;
      grid-area: controls;

      grid-template-areas: "prev . pagenum . next";
      grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  }

  #error {
      grid-area: error;

      color: red;
      size: 20px;
  }

  #prev {
      grid-area: prev;
  }

  #pagenum {
      grid-area: pagenum;
      text-align: center;
  }

  #next {
      grid-area: next;
  }
  #submit {
      grid-area: next;
  }

  #question {
      grid-area: question;
  }
</style>

</head>

<body>

<script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.min.js"></script>

<script type="module">
  const { createApp } = Vue
  import MultipleChoice from '{{ url }}/static/MultipleChoice.js'
  import TextQuestion from '{{ url }}/static/TextQuestion.js'

  createApp({
    delimiters: ["[[", "]]"],
    components: {
      MultipleChoice,
      TextQuestion
    },
    data() {
      return {
        title: "",
        page: -1,
        question: {},
        questiontype: "",
        cancontinue: false,
        cannext: false,
        cansubmit: false,
        error: false,
        errormessage: "Unknown Error Occured", 
        answer: -1,
        questions: []
      }
    },
    methods: {
      fetchquestions() {
        let url = "{{ url }}";
        let name = "{{ name }}";
        
        let r = fetch(url + "/" + name + "/questions").then((r) => {
          return r.json();
        })
        .then((data) => {
          this.title = data.title;
          this.questions = data.questions;

          for (let question of this.questions) {
            if (question.type === 'multiple-choice') {
              question.answer = {};
              question.answer.answer = "";
              question.answer.other = false;
            } else if (question.type === 'text') {
              question.answer = {};
              question.answer.answer = "";
            }
          }

          this.page = 0;
          this.loadquestion();
        });
      },
      loadquestion() {
        this.question = this.questions[this.page];
        this.questiontype = this.question['type']
        
        this.cancontinue = (this.question.options.canskip || this.question.answer.answer !== "");
        this.cannext = this.cancontinue && this.page < this.questions.length-1;
        this.cansubmit = this.cancontinue && !this.cannext;
      },
      prev() {
        this.page--;
        this.loadquestion();
      },
      next() {
        this.page++;
        this.loadquestion();
      },
      multiplechoiceselected(choice) {
        this.question.answer.other = false;
        this.question.answer.answer = choice;

        this.questions[this.page] = this.question;
        this.loadquestion();
      },
      multiplechoiceselectedother() {
        this.question.answer.other = true;

        let value = document.getElementById("choice-other").value;

        if (!value) {
          value = "";
        }
        this.question.answer.answer = value;

        this.questions[this.page] = this.question;
        this.loadquestion();
      },
      textselected() {
        let value = document.getElementById("input").value;

        if (!value) {
          value = "";
        }
        this.question.answer.answer = value;

        this.questions[this.page] = this.question;
        this.loadquestion();
      },
      submit() {
        let answers = [];
        for (let question of this.questions) {
          answers.push(question.answer.answer);
        }

        let data = {
          answers: answers
        }

        let url = "{{ url }}";
        let name = "{{ name }}";

        const response = fetch(url + "/" + name + "/submit", {
          method: "POST",
          mode: "same-origin",
          cache: "no-cache",
          credentials: "same-origin",
          headers: {
            "Content-Type": "application/json",
          },
          redirect: "follow",
          body: JSON.stringify(data)
        }).then((r) => {
          if (r.status != 200) {
            this.errormessage = "Received " + r.status + " Error";
            this.error = true;
          } else {
            data = r.json().then((data) => {
              document.cookie = data["name"] + "=" + data["value"] + ";expires=" + data["expires"] + ";path=/"; 
              window.location.replace(url + "/" + name);
            });
          }
        })

      }
    },
    beforeMount() {
      this.fetchquestions();
    }
  }).mount('#app')
</script>

<div id="app">
  <h1 id="title">[[ title ]]</h1>
  <div id="controls">
    <a v-if="page > 0" id="prev" class="button" @click="prev">
      Previous
    </a>
    <div id="pagenum"> Page [[ page+1 ]]/[[ questions.length ]] </div>
    <a v-if="cannext" id="next" class="button" @click="next">
      Next
    </a>
    <a v-if="cansubmit" id="submit" class="button" @click="submit">
      Submit
    </a>
  </div>
  <div id="error" v-if="error">
    [[ errormessage ]]
  </div>
  <div v-if="page >= 0" id="question">
    <multiple-choice
    @selected="(choice) => multiplechoiceselected(choice)"
    @selectedother="multiplechoiceselectedother()"
    :question="question"
    v-if="questiontype === 'multiple-choice'"
    ></multiple-choice>
    <text-question
    @selected="textselected()"
    :question="question"
    v-if="questiontype === 'text'"
    ></text-question>
  </div>
</div>

</body>